.detail{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;

    
}
.detail img{
    height: 400px;
    width: 400px;
    float: left;
    padding-left: 50px;
    margin-right: 60px;
}
.detail Button{
    float: left;
    margin-left: 5px;
    margin-top: 150px;
}