header{
	width: 100%;
	background: #A93226;
	height: 70px;
	margin-bottom: 10px;
}

.logo img{
	padding-left: 10px;
	width: 12%;
	height: 70px;
	float: left;
}
nav{
	width: 70%;
	height: 70px;
	float: left;
	text-align: right;
	padding-top: 10px;
	box-sizing: border-box;
}
nav ul li{
	display: inline;
}
.categorias{
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 15px;
	font-weight: bold;
	letter-spacing: 1px;
}
.categorias:hover{
	color: #85929E;
}
.cartwidget{
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 15px;
	padding-left: 10px;
}
.cartwidget:hover{
	color: white;
}
